name: deploy next to ncloud

on:
  push:
    branches: [main]

jobs:
  pull_from_registry:
    name: NCP 접속 후 이미지 다운로드 및 배포
    runs-on: ubuntu-latest
    steps:
      - name: ssh 연결
        uses: appleboy/ssh-action@master
        with:
          host: ${{ env.NCP_HOST }}
          username: ${{ env.NCP_USERNAME }}
          password: ${{ env.NCP_PASSWORD }}
          port: ${{ env.NCP_PORT }}
          script: ls -al
