on:
  workflow_dispatch:
    inputs:
      deploy_ncp:
        description: "이번 실행에서 NCP 배포를 수행할까요?"
        type: boolean
        default: false

jobs:
  pull_from_registry:
    if: ${{ inputs.deploy_ncp == true }}
    runs-on: ubuntu-latest
    steps:
      - name: ssh 연결
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.NCP_HOST }}
          key: ${{ secrets.SSH_KEY }}
          username: ${{ secrets.NCP_USERNAME }}
          password: ${{ secrets.NCP_PASSWORD }}
          port: ${{ secrets.NCP_PORT }}
          script: ls -al

